<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_load_after">
        <observer name="product_page" instance="NewVendor\CustomModule\Observer\ProductObserver" />
    </event>
    <!-- <event name="controller_action_predispatch">
    <observer name="controller_action_predispatch" instance="NewVendor\CustomModule\Observer\ControllerActionPredispatch" />
    </event> -->
    <event name="controller_front_send_response_before">
    <observer name="no_route" instance="NewVendor\CustomModule\Observer\RenderHtml" />
    </event>

</config>
