<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
          <mod9>
            <customconfig_group>
                <enable>1</enable>
                <text_to_display>Magento</text_to_display>
            </customconfig_group>

          </mod9>
       
    </default>
</config>
